/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap'); */

/* *:not(i){
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}
:root{
    --bg-black-900: #000;
    --bg-black-100: #ddd;
    --bg-black-50: #eff0f4;
    --bg-opacity: rgba(255, 255, 255, 0.5);
    --text-black-900: #000;
    --text-black-700: #555;
    --text-black-600: #666;
    --text-black-300: #bbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, -0 -0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}
::before, ::after{
    box-sizing: border-box;
}
/* override custom css variables for dark theme */
body.dark{
    --bg-black-900: #fff;
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --bg-opacity: rgba(43, 44, 47, 0.5);
    --text-black-900: #fff;
    --text-black-700: #fff;
    --text-black-600: #bbb;
    --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow-0: 0 0 0 #222327, -0 -0 0 #363636;
    --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
    --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
}
body{
    font-style: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body.stop_scrolling{
    overflow-y: hidden;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--skin-color);
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify_content_between{
    justify-content: space-between;
}
.outer_shadow{
    box-shadow: var(--outer-shadow);
}
.inner_shadow{
    box-shadow: var(--inner-shadow);
}
.hover_in_shadow{
    position: relative;
    z-index: 1;
}
.hover_in_shadow:hover{
    box-shadow: var(--outer-shadow-0);
}
.hover_in_shadow::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}
.hover_in_shadow:hover::after{
    box-shadow: var(--inner-shadow);
}
.align_items_center{
    align-items: center;
}
.btn_1{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
    border: none;
}
.btn_1::after{
    border-radius: 30px;
}
.effect_wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect_1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}
.effect_2{
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}
.effect_2 div{
    width: 3px;
    height: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}
.effect_3{
    height: 180px;
    width: 180px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}
.effect_4{
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}
.effect_4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}
.effect_5{
    height: 50px;
    width: 50px;
    right: 4.5%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: scale 10s linear infinite;
}
.effect_5 div{
    width: 1px;
    background-color: #4dd0e1;
}
.effect_6{
    height: 50px;
    width: 50px;
    background: var(--skin-color);
    left: 35%;
    bottom: 25%;
    animation: scaleSpin 10s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes topBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}
@keyframes leftBounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}
@keyframes scale{
    0%{
        transform: scale(1) rotate(0);
    }
    50%{
        transform: scale(2) rotate(180deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}
@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scaleSpin{
    0%, 100%{
        transform: rotate(0) scale(2);
        border-radius: 50%;
        filter: hue-rotate(0deg);
    }
    50%{
        transform: rotate(180deg) scale(1);
        border-radius: 15px;
        filter: hue-rotate(20deg);
    }
}
.section_title{
    padding: 0px 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.section_title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}
.section_title h2::before{
    content: attr(data_heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color);
}
.section.hide{
    display: none;
}

/* -----------preloader----------- */
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    background: var(--bg-black-50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.fade_out{
    opacity: 0;
    transition: all 0.6s ease;
    display: none;
}
.preloader .box{
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preloader .box div{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--skin-color);
    animation: loader 1s ease infinite;
    animation-delay:  calc(-.5s / var(--i));
}
@keyframes loader{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-45px);
    }
}

/* -----------header----------- */
.header{
    padding: 30px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.header .logo a{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: var(--skin-color);
    border-radius: 50%;
    border: 2px solid var(--skin-color);
    font-weight: 600;
    text-transform: uppercase;
}
.header .hamburger_btn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    /* transform: translateX(96.5px) translateY(-10px); */
    transition: all 0.3s ease;
}
.header .hamburger_btn::after{
    border-radius: 50%;
}
.header .hamburger_btn span{
    display: block;
    height: 2px;
    width: 16px;
    background: var(--bg-black-900);
    position: relative;
}
.header .hamburger_btn span::before,
.header .hamburger_btn span::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}
.header .hamburger_btn span::before{
    top: -6px;
}
.header .hamburger_btn span::after{
    top: 6px;
}

/* -----------navigation menu----------- */
.nav_menu{
    position: fixed;
    background-color: var(--bg-black-50);
    padding: 0 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}
.fade_out_effect{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-black-50);
    visibility: hidden;
    background: #000;
}
.fade_out_effect.active{
    visibility: visible;
    z-index: 1000;
    animation: fadeOut 0.3s ease-out;
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.nav_menu.open{
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: all 0.3s ease-in;
}
.nav_menu .close_nav_menu{
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
    transition: all 0.3s ease;
}
.nav_menu .close_nav_menu::after{
    border-radius: 50%;
}
.nav_menu_inner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_menu ul{
    padding: 15px;
}
.nav_menu ul li{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.nav_menu ul li:last-child{
    margin-bottom: 0;
}
.nav_menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-600);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.nav_menu ul li a.active{
    color: var(--skin-color);
}
.nav_menu ul li a::after{
    border-radius: 30px;
}
.nav_menu .copyrights_text{
    position: absolute;
    align-items: center;
    text-align: center;
    right: 20px;
    bottom: 10px;
    font-size: 15px;
    color: var(--text-black-600);
}

.nav_menu .copyrights_text a{
    color: var(--text-black-600);
}

/* -----------home section----------- */
.home_section{
    position: relative;
}
.home_section .full_screen{
    padding: 50px 0;
    min-height: 100vh;
}
.home_section .home_text,
.home_section .home_img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.home_section .home_text p{
    color: var(--text-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}
.home_section .home_text h2{
    font-size: 55px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
}
.home_section .home_text h1{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-black-600);
    margin: 0;
    text-transform: capitalize;
}
.home_section .home_text .btn_1{
    margin-top: 30px;
}
.home_section .home_img .img_box{
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}
.home_section .home_img .img_box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid #0000;
}

/* -----------about section----------- */
.about_section{
    padding: 80px 0px 80px;
    min-height: 100vh;
}
.about_section .about_img{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0px 15px;
}
.about_section .about_img .img_box{
    padding: 15px;
    border-radius: 5px;
}
.about_section .about_img .img_box img{
    width: 100%;
    border: 10px solid #0000;
    border-radius: 5px;
}
.about_section  .about_img .social_links{
    margin-top: 20px;
    text-align: center;
}
.about_section  .about_img .social_links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 16px;
    align-items: center;
    color: var(--text-black-600);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.about_section  .about_img .social_links a i{
    line-height: 40px;
}
.about_section  .about_img .social_links a::after{
    border-radius: 50%;
}
.about_section  .about_img .social_links a:hover{
    color: var(--skin-color);
}
.about_section .about_info{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}
.about_section .about_info p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}
.about_section .about_info span{
    font-weight: 600;
}
.about_section .about_info .btn_1{
    margin: 30px 20px 0 0;
}
.about_section .about_tabs{
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    min-width: 100%;
    text-align: center;
}
.about_section .about_tabs .tab_item{
    display: inline-block;
    margin: 0 5px 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 16px;
    color: var(--text-black-600);
    font-weight: 500;
    text-transform: capitalize;
}
.about_section .about_tabs .tab_item:hover:not(.active){
    opacity: 0.5;
}
.about_section .about_tabs .tab_item.active{
    color: var(--skin-color);
}
.about_section .tab_content{
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}
.about_section .tab_content.active{
    display: block;
    animation: fadeInTop 0.5s ease;
}
.about_section .skills .skill_item{
    flex: 0 0 50%;
    min-width: 50%;
    padding: 0 15px;
    margin-bottom: 40px;
}
.about_section .skills .skill_item p{
    font-size: 16px;
    color: var(--text-black-600);
    text-transform: capitalize;
    margin: 0 0 10px;
}
.about_section .skills .skill_item .progress{
    height: 20px;
    border-radius: 10px;
    position: relative;
}
.about_section .skills .skill_item .progress_bar{
    background-color: var(--text-black-600);
    height: 6px;
    left: 7px;
    top: 7px;
    position: absolute;
    border-radius: 10px;
}
.about_section .skills .skill_item .progress_bar span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    margin-top: -40px;
}
.about_section .education,
.about_section .experience{
    padding-bottom: 80px;
}
.about_section .timeline{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.about_section .timeline::before{
    content: '';
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    position: absolute;
    background: var(--bg-black-100);
}
.about_section .timeline .timeline_item{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.about_section .timeline .timeline_item:nth-child(odd){
    padding-right: calc(50% + 50px);
    text-align: right;
}
.about_section .timeline .timeline_item:nth-child(even){
    padding-left: calc(50% + 50px);
    text-align: left;
}
.about_section .timeline .timeline_item_inner{
    padding: 30px;
    border-radius: 5px;
    position: relative;
}
.about_section .timeline .timeline_item_inner::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: var(--bg-black-100);
    top: 37px;
    z-index: -1;
}
.about_section .timeline .timeline_item:nth-child(odd) .timeline_item_inner::before{
    right: -30px;
}
.about_section .timeline .timeline_item:nth-child(even) .timeline_item_inner::before{
    left: -30px;
}
.about_section .timeline .timeline_item_inner .icon{
    height: 40px;
    width: 40px;
    background-color: var(--bg-black-50);
    text-align: center;
    border: 1px solid var(--bg-black-100);
    line-height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: var(--skin-color);
    line-height: 40px;
    position: absolute;
    top: 18px;
}
.about_section .timeline .timeline_item:nth-child(odd) .icon{
    right: -70px;
}
.about_section .timeline .timeline_item:nth-child(even) .icon{
    left: -70px;
}
.about_section .timeline .timeline_item_inner span{
    font-weight: 500;
    color: var(--skin-color);
    display: block;
    margin: 0 0 10px;
    text-transform: capitalize;
}
.about_section .timeline .timeline_item_inner h3{
    font-size: 20px;
    color: var(--text-black-700);
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: capitalize;
}
.about_section .timeline .timeline_item_inner h4{
    font-size: 16px;
    font-style: italic;
    color: var(--text-black-600);
    margin: 0;
}
.about_section .timeline .timeline_item_inner p{
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 15px 0 0;
}

/* -----------service section----------- */
.service_section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.service_section .service_item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.service_section .service_item_inner{
    padding: 50px 15px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}
.service_section .service_item_inner .icon{
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto 30px;
    position: relative;
    color: var(--text-black-600);
}
.service_section .service_item_inner .icon::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.service_section .service_item_inner:hover .icon{
    box-shadow: var(--inner-shadow-0);
}
.service_section .service_item_inner:hover .icon::after{
    box-shadow: var(--inner-shadow);
}
.service_section .service_item_inner .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease;
}
.service_section .service_item_inner:hover .icon i{
    color: var(--skin-color);
}
.service_section .service_item_inner h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}
.service_section .service_item_inner p{
    font-size: 16px;
    color: var(--text-black-600);
    margin: 0;
    line-height: 26px;
}

/* -----------portfolio section----------- */
.portfolio_section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.portfolio_section .section_title{
    margin-bottom: 40px;
}
.portfolio_section .portfolio_filter{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.portfolio_section .filter_item{
    display: inline-block;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-black-600);
    text-transform: capitalize;
    font-size: 16px;
    transition: all 0.5s ease;
}
.portfolio_section .filter_item:hover:not(.active){
    opacity: 0.6;
}
.portfolio_section .filter_item.active{
    color: var(--skin-color);
}
.portfolio_section .portfolio_item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio_section .portfolio_item.hide{
    display: none;
}
.portfolio_section .portfolio_item.show{
    display: block;
    animation: fadeInTop 0.5s ease;
}
.portfolio_section .portfolio_item_inner{
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.portfolio_section .portfolio_item_img img{
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}
.portfolio_section .portfolio_item_inner:hover .portfolio_item_img img{
    transform: translateY(-25px);
}
.portfolio_section .portfolio_item_img{
    position: relative;
}
.portfolio_section .portfolio_item_img .view_project{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 0.5;
}
.portfolio_section .portfolio_item_inner:hover .view_project{
    transform: translateY(0);
    opacity: 1;
}
.portfolio_section .portfolio_item_details{
    display: none;
}
.portfolio_section .portfolio_item_inner p{
    font-size: 16px;
    margin: 10px 0 0;
    color: var(--text-black-600);
    text-transform: capitalize;
}

/* -----------portfolio popup----------- */
.portfolio_popup{
    background-color: var(--bg-black-50);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    overflow: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.portfolio_popup::-webkit-scrollbar{
    width: 0;
    transition: all 0.2s linear;
}
.portfolio_popup.open{
    visibility: visible;
    opacity: 1;
}
.portfolio_popup .pp_loader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1005;
    background-color: var(--bg-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
.portfolio_popup .pp_loader.active{
    visibility: visible;
    opacity: 1;
}
.portfolio_popup .pp_loader div{
    position: absolute;
    height: 45px;
    width: 45px;
    border: 3px solid var(--skin-color);
    border-radius: 50%;
    border-right: 3px solid transparent;
    animation: spin 2s ease infinite;
}
.portfolio_popup .pp_loader div:last-child{
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    animation: scale 2s ease infinite;
}
.portfolio_popup .pp_details{
    max-width: 1350px;
    width: calc(85% + 30px);
    margin: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s linear;
}
.portfolio_popup .pp_details.active{
    opacity: 1;
}
.portfolio_popup .pp_details_inner{
    padding: 30px 0;
}
.portfolio_popup .pp_title{
    padding: 0 15px;
}
.portfolio_popup .pp_title h2{
    font-size: 28px;
    color: var(--text-black-900);
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 05px;
}
.portfolio_popup .pp_title p{
    font-size: 14px;
    font-weight: 600;
    color: var(--text-black-600);
    margin: 0 0 15px;
    border-bottom: 1px solid var(--bg-black-100);
    padding-bottom: 10px;
}
.portfolio_popup .pp_title p span{
    font-weight: 400;
}
.portfolio_popup .pp_project_details h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 15px;
    text-transform: capitalize;
}
.portfolio_popup .description{
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 15px;
}
.portfolio_popup .description p{
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
}
.portfolio_popup .info{
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0 15px;
}
.portfolio_popup .info ul li{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-black-600);
    font-size: 16px;
}
.portfolio_popup .info ul li span{
    font-weight: 400;
}
.portfolio_popup .info ul li a{
    color: var(--skin-color);
}
.portfolio_popup .info ul li:last-child{
    margin-bottom: 0;
}
.portfolio_popup .seperator{
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--bg-black-100);
}
.portfolio_popup .pp_img{
    /* max-width: 700px; */
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}
.portfolio_popup .pp_main{
    min-height: 100vh;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio_popup .pp_main_inner{
    padding: 70px 0 50px;
    position: relative;
}
.portfolio_popup .pp_project_details_btn{
    position: absolute;
    left: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    cursor: pointer;
    padding: 0 15px;
    top: 15px;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease;
}
.portfolio_popup .pp_project_details_btn i{
    margin-left: 4px;
}
.portfolio_popup .pp_project_details_btn::after{
    border-radius: 30px;
}
.portfolio_popup .pp_close{
    position: absolute;
    right: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 15px;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    color: var(--text-black-600);
    cursor: pointer;
}
.portfolio_popup .pp_close::after{
    border-radius: 50%;
    transition: none;
}
.portfolio_popup .pp_counter{
    position: absolute;
    right: 0;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: var(--text-black-600);
}
.portfolio_popup .pp_prev,
.portfolio_popup .pp_next{
    position: fixed;
    top: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 1010;
    color: var(--text-black-900);
    transition: all 0.3s ease;
    opacity: 0.5;
}
.portfolio_popup .pp_prev:hover,
.portfolio_popup .pp_next:hover{
    opacity: 1;
}
.portfolio_popup .pp_prev i,
.portfolio_popup .pp_next i{
    line-height: 40px;
}
.portfolio_popup .pp_prev{
    left: 15px;
}
.portfolio_popup .pp_prev i{
    transform: rotate(180deg);
}
.portfolio_popup .pp_next{
    right: 15px;
}

/* -----------testimonial section----------- */
.testimonial_section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.testimonial_section .testi_box{
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 15px;
}
.testimonial_section .testi_slider{
    border-radius: 5px;
    overflow: hidden;
}
.testimonial_section .testi_slider_container{
    display: flex;
    transition: margin 1s ease;
    align-items: center;
}
.testimonial_section .testi_item{
    padding: 30px;
    position: relative;
    text-align: center;
}
.testimonial_section .testi_item i{
    position: absolute;
    font-size: 30px;
    color: var(--text-black-600);
    color: var(--skin-color);
    opacity: 0.4;
}
.testimonial_section .testi_item i.left{
    left: 5px;
    top: 5px;
}
.testimonial_section .testi_item i.right{
    right: 5px;
    bottom: 5px;
}
.testimonial_section .testi_item p{
    font-size: 16px;
    line-height: 26px;
    color: var(--text-black-600);
    margin: 0 0 30px;
}
.testimonial_section .testi_item img{
    max-width: 70px;
    display: inline-block;
    width: 100%;
}
.testimonial_section .testi_item span{
    display: block;
    margin: 10px 0 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-700);
    text-transform: capitalize;
}
.testimonial_section .testi_slider_nav{
    margin-top: 30px;
    text-align: center;
}
.testimonial_section .testi_slider_nav span{
    height: 40px;
    width: 40px;
    color: var(--skin-color);
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    margin: 0 4px;
}
.testimonial_section .testi_slider_nav span::after{
    border-radius: 50%;
}
.testimonial_section .testi_slider_nav span i{
    line-height: 40px;
}

/* -----------contact section----------- */
.contact_section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.contact_section .contact_item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
}
.contact_section .contact_item_inner{
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}
.contact_section .contact_item_inner i{
    font-size: 25px;
    color: var(--skin-color);
}
.contact_section .contact_item_inner span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 15px 0 10px;
    text-transform: capitalize;
}
.contact_section .contact_item_inner p{
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
    word-break: break-word;
}
.contact_section .contact_form{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}
.contact_section .w_50{
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
}
.contact_section .input_group{
    margin: 0 0 25px;
    transition: all 0.3s ease;
    border-radius: 30px;
}
.contact_section .input_group::after{
    border-radius: 30px;
}
.contact_section .input_group .input_control{
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 0 15px;
    color: var(--text-black-700);
}
.contact_section .input_group textarea.input_control{
    height: 184px;
    padding-top: 15px;
    resize: none;
}
.contact_section .submit_btn{
    font: 0 0 100%;
    width: 100%;
    text-align: right;
    padding: 0 15px;
}